Package: me.jjolano.nofolderbadge
Name: NoFolderBadge
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Removes badges from folders.
Maintainer: jjolano
Author: jjolano
Section: Tweaks
